@model IEnumerable<Sales.SalesWebWatcher.Models.CustomerViewModel>

@{
    ViewBag.Title = "Customers";
}

<table class="table">
    <tr>
        <th class="id-column">
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
    </tr>
}

</table>
